<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qijitek.blphace"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
 <uses-permission android:name="android.permission.CAMERA"/>
         <uses-permission android:name="android.permission.INTERNET" />
         <uses-permission android:name="android.permission.VIBRATE" />
         <uses-permission android:name="android.permission.FLASHLIGHT" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Starta1Activity" >
        </activity>
        <activity android:name=".Starta2Activity" >
        </activity>
        <activity android:name=".Starta4Activity" >
        </activity>
        <activity android:name=".Starta3Activity" >
        </activity>
        <activity android:name=".Starta5Activity" >
        </activity>
        <activity android:name=".Starta7Activity" >
        </activity>
        <activity android:name=".Manageb1Activity" >
        </activity>
        <activity android:name=".Manageb2Activity" >
        </activity>
        <activity android:name=".Manageb3Activity" >
        </activity>
        <activity android:name=".Socialc1Activity" >
        </activity>
        <activity android:name=".Socialc2Activity" >
        </activity>
        <activity android:name=".Applyd1Activity" >
        </activity>
        <activity android:name=".Applyd2Activity" >
        </activity>
        <activity android:name=".SingleResultActivity2" >
        </activity>
        <activity android:name=".CompareResultActivity" >
        </activity>
        <activity android:name=".MipcaActivityCapture" >
        </activity>
    </application>

</manifest>